@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    display: none;
}

.scroll::-webkit-scrollbar{
    width: 5px;
    height: 10px;
}

.scroll::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: rgb(125, 124, 124);
}